fastapi
uvicorn
pydantic-settings
python-multipart
faster-whisper==1.0.3
torch>=2.1.1
gradio>=5.6.0
click>=8.1.7
pysrt>=1.1.2
deep_translator==1.11.4
edge-tts
nltk==3.8.1
CTranslate2==4.5.0
kokoro>=0.8.4
misaki[zh]
misaki[ja]
soundfile==0.13.1
librosa==0.10.2.post1
pydub
tqdm
huggingface-hub
audio-separator
static-ffmpeg
transformers
num2words
spacy
phonemizer
loguru
fasttext-wheel
langid
yt-dlp
