fastapi
uvicorn
pydantic-settings
python-multipart
numpy==1.26.4
faster-whisper==1.0.3
torch==2.3.1
torchaudio==2.3.1
gradio>=5.6.0
click>=8.1.7
pysrt>=1.1.2
deep_translator==1.11.4
edge-tts
nltk==3.8.1
CTranslate2==4.5.0
kokoro>=0.8.4
# misaki[zh]
# misaki[ja]
soundfile==0.13.1
librosa==0.10.2.post1
pydub
tqdm
huggingface-hub
audio-separator
static-ffmpeg
transformers==4.40.2
num2words
spacy
phonemizer==3.2.1
loguru
fasttext-wheel
langid
yt-dlp
pyannote.audio==3.1.1
speechbrain
omegaconf
celery
redis
flower
aioredis
scipy
ffmpeg-python
python-dotenv
